<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boolzap</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <main>
            <div id="app">
                <div class="background d-flex">
                    <div class="box-chat d-flex">

                        <!-- aside -->
                        <aside>
                            <div class="d-flex space-between bg-grey h-70">
                                <div class="d-flex align-center my-profile">
                                    <img src="img/avatar_io.jpg" alt="avatar profilo personale">
                                    <span>Asia</span>
                                </div>
                                <div class="icons d-flex align-center">
                                    <i class="fa-solid fa-circle-notch"></i>
                                    <i class="fa-solid fa-message"></i>
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </div>
                            </div>
                            <div class="d-flex bg-aqua padding-20 notify">
                                <div class="rounded d-flex align-center">
                                    <i class="fa-solid fa-bell-slash"></i>
                                </div>
                                <div class="d-flex flex-column">
                                    <span>Ricevi notifiche di nuovi messaggi</span>
                                    <a href="#">Attiva notifiche desktop</a>
                                </div>
                                
                            </div>
                            <div class="search d-flex">
                                <div class="magnify-search d-flex align-center">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                                <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchContact">
                            </div>
                            <div class="chat-list">
                                <ul class="cursor">
                                    <li v-for="(element, index) in contacts" class="d-flex" @click="selectContact(index)" v-show="element.name.toLowerCase().includes(searchContact.toLowerCase())">
                                        <img :src="element.avatar" alt="foto profilo">
                                        <div class="d-flex flex-column">
                                            <span>{{element.name}}</span>
                                            <small v-if="element.messages.length>0">{{element.messages[element.messages.length - 1].message}}</small>
                                        </div>
                                        <div class="flex-grow text-end">
                                            <small v-if="element.messages.length>0">{{element.messages[element.messages.length - 1].actualDate.substr(11,5)}}</small>
                                        </div>
                                    </li>
                                    
                                    
                                   
                                </ul>
                            </div>
                        </aside>
                        <!-- fine aside -->

                        
                        <div class="chat">
                            <!-- lista contatti -->
                            <div class="d-flex space-between bg-grey h-70 border-left">
                                <div class="d-flex align-center my-profile">
                                    <img :src="contacts[selectedContact].avatar" alt="avatar profilo personale">
                                    <div class="d-flex flex-column">
                                        <span>{{contacts[selectedContact].name}}</span>
                                        <small>Ultimo accesso oggi alle 12:00</small>
                                    </div>
                                    
                                </div>
                                <div class="icons d-flex align-center">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                    <i class="fa-solid fa-paperclip"></i>
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </div>
                            </div>
                            <!-- fine lista contatti -->

                            <!-- inizio chat -->
                            <div class="chat-msg">
                                
                                <div v-for="(element, index) in contacts[selectedContact].messages" class="d-flex position-r" :class="element.status == 'sent' ? 'justify-end' : 'justify-start'">
                                    <div :class="element.status == 'sent' ? 'sent' : 'received'">
                                        <span>{{element.message}}</span>
                                        <i class="fa-solid fa-chevron-down" @click="invertActive(index)"></i>
                                        <div class="d-flex justify-end">
                                            <span class="date">{{element.actualDate.substr(11,5)}}</span>
                                        </div>
                                        <div class="position-a bg-white padding-10" v-if="isActive && index == indexActive" :class="element.status == 'sent' ? 'position-right' : ''">
                                            <span class="cursor" @click="removeMessage(index)">Cancella messaggio</span> <br>
                                            <span class="cursor">Info messaggio</span>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                
                            </div>

                             <!-- fine chat -->

                             
                            <div class="h-70 send-msg d-flex align-center">
                                <div class="padding-20">
                                    <i class="fa-regular fa-face-smile"></i>
                                </div>
                                <!-- input messaggio -->
                                <div class="flex-grow">
                                    <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="sendNewMessage(selectedContact)">
                                </div>
                                <div class="padding-20">
                                    <i class="fa-solid fa-microphone"></i>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>